<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>

    <script>
      var socket = io();
      socket.emit("abcd", 12); //emit means bjo , toh humne frontend se bjdiya ek event abcd naaam ka
      
      // ab jo phle connect h use phli baar 
      // jo dusri baar connect use phli baar and jo phle connect tha usse 2 time 
      socket.on("defg", () => {
        console.log("Recieved 2");
      });
    </script>
  </body>
</html>
