<%-include("layouts/header")%>
<div class="h-[92vh] flex item-center flex-col justify-center">
  <div class="mx-14">
    <p class="text-4xl pb-4">About Us</p>
    <p class="gap-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum et fuga
      iusto ducimus, voluptatum expedita! Blanditiis iure nobis excepturi,
      perspiciatis illo praesentium vero molestiae at? Optio enim minima iusto
      rem, incidunt odio numquam dolore adipisci. Officia, necessitatibus sed
      porro officiis sequi distinctio saepe harum? At cupiditate vitae placeat
      impedit quasi Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Itaque commodi, ea recusandae illum consequatur magnam? Soluta itaque
      animi eligendi aut consequuntur corrupti, asperiores nemo labore
      accusantium voluptas illo doloremque praesentium impedit eos esse tempora
      quaerat doloribus odio nulla unde laboriosam.. <br />
    </p>
    <p class="pt-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam veniam
      nisi deserunt corporis in maxime odio esse iure est consequatur! Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat et
      pariatur ea sed, debitis repellendus cumque ut velit, nisi ab ullam vel
      accusantium quo error aperiam nihil unde aliquam delectus ducimus nesciunt
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam veniam
      nisi deserunt corporis in maxime odio esse iure est consequatur! Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat et
      pariatur ea sed, debitis repellendus cumque ut velit, nisi ab ullam vel
      accusantium quo error aperiam nihil unde aliquam delectus ducimus nesciunt
      deserunt? Voluptatum rerum, veritatis nihil vero, unde repellendus
      voluptas eos hic tempora numquam, quod autem error incidunt?
    </p>
  </div>
</div>
