<%-include("layouts/header")%>
<div class="h-[90vh]">
  <div
    class="flex flex-col items-center gap-5 justify-center h-[90vh] bg-white"
  >
    <p class="text-center text-4xl font-semibold">
      Organise your <br />
      work life
    </p>
    <p class="text-center text-lg">
      Become Focused organised and calm with <br />
      todo app .The World #1 task manager App
    </p>
    <button class="bg-red-300 p-3 px-4 rounded-lg">Make TODO List</button>
  </div>
</div>
