<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div><%- include("layout/header")%></div>

    <div class="container">
      <h2>Contact Form</h2>
      <form action="/submit" method="POST">
        <label for="userName">Username:</label>
        <input type="text" id="username" name="userName" required />

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="number">Number:</label>
        <input
          type="tel"
          id="number"
          name="phone"
          pattern="[0-9]{10}"
          required
        />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
